<div class="container mt-5">
    <div class="row">
        <div class="card">
            <div class="card-head">
                <h4>Formulario por template</h4>
            </div>
            <div class="card-body">
                <form (submit)="templateSave()">

                    <label>Nombre</label>
                    <input type="text" class="form-control" id="nameTemplate" name="nameTemplate"
                        [(ngModel)]="nameTemplateData" [ngClass]="{'error': nameTemplateData === ''}">

                    <p style="color: red" *ngIf="nameTemplateData === ''">Campo obligatorio</p>

                    <button type="submit" class="btn btn-primary mt-2"
                        [disabled]="nameTemplateData === ''">Guardar</button>

                    <hr>
                    <hr>

                    Nombre: {{nameTemplateData}}

                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div class="row">
        <div class="card">
            <div class="card-head">
                <h4>Formulario reactivo</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="reactiveForm" (submit)="reactiveSave()">

                    <label>Nombre</label>
                    <input type="text" class="form-control" id="nameReactive" name="nameReactive"
                        formControlName="nameReactiveData"
                        [ngClass]="{'error': reactiveForm.controls.nameReactiveData.dirty && reactiveForm.controls.nameReactiveData.invalid}">

                    <p style="color: red"
                        *ngIf="reactiveForm.controls.nameReactiveData.dirty && reactiveForm.controls.nameReactiveData.invalid">
                        Campo obligatorio
                    </p>

                    <button type="submit" class="btn btn-primary mt-2" [disabled]="!reactiveForm.valid">Guardar</button>

                    <hr>
                    <hr>

                    Nombre: {{reactiveForm.controls.nameReactiveData.value}}
                    <p></p>
                    Estado formulario: {{reactiveForm.valid}}
                    <p></p>
                    Status input: {{reactiveForm.controls.nameReactiveData.status}}
                    <p></p>
                    Errors input: {{reactiveForm.controls.nameReactiveData.errors | json}}
                    Error input: {{reactiveForm.controls.nameReactiveData.getError('required')}}
                    <p></p>
                    Invalid input: {{reactiveForm.controls.nameReactiveData.invalid}}

                </form>
            </div>
        </div>
    </div>
</div>