<div class="container mt-5">
    <div class="row">
        <div class="card">
            <div class="card-head">
                <h4>Formulario por template</h4>
            </div>
            <div class="card-body">
                <form (submit)="templateSave()">

                    <label>Nombre</label>
                    <input type="text" class="form-control" id="nameTemplate" name="nameTemplate"
                        [(ngModel)]="nameTemplateData">

                    <p *ngIf="nameTemplateData.length === 0">Campo obligatorio</p>

                    <button type="submit" class="btn btn-primary mt-2"
                        [disabled]="nameTemplateData.length === 0">Guardar</button>

                    <hr>
                    <hr>

                    Nombre: {{nameTemplateData}}

                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div class="row">
        <div class="card">
            <div class="card-head">
                <h4>Formulario reactivo</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="reactiveForm" (submit)="reactiveSave()">

                    <label>Nombre</label>
                    <input type="text" class="form-control" id="nameReactive" name="nameReactive"
                        formControlName="nameReactiveData">

                    <button type="submit" class="btn btn-primary mt-2" [disabled]="!reactiveForm.valid">Guardar</button>

                    <hr>
                    <hr>

                    <p>Nombre: {{reactiveForm.controls.nameReactiveData.value}}
                    <p>
                    <p>Estado formulario: {{reactiveForm.valid}}
                    <p></p>

                </form>
            </div>
        </div>
    </div>
</div>